<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>, <%= ID %></h1>
    <p>Welcome to Tamkung Univerity, <%= title %></p>
  </body>
</html>
